@page
@model OnionArchituctureSampleProject.Pages.ProductCategory.IndexModel
@{
}

<a  asp-page ="/ProductCategory/Create" class="btn btn-success" > ایجاد گروه جدید</a>



<div class ="col-12">

<table class="table table-bordered table-striped">
<thead>
<tr>
<td > شماره </td>
<td > نام </td>
<td >   تاریخ ایجاد </td>
<td>  عملیات </td>

</tr>
 </thead>
<tbody>
@foreach ( var _ProductCategory in @Model._ProductCategoryViewModel)
{
<tr>
<th>@_ProductCategory.Id</th>
<th>@_ProductCategory.Name</th>
<th>@_ProductCategory.CreationDate</th>
<th>
	<a  asp-page ="/ProductCategory/Edit"  asp-route-id ="@_ProductCategory.Id"  class="btn btn-info" >  ویرایش</a>
</th>

</tr>
}
</tbody>
</table>

</div>
</div>